# Introduction to Python

Python is one of the most widely used programming languages ([source](https://octoverse.github.com/#top-languages)), and for a reason. It is very easy to pick-up, extremely versatile (as you will see) and most importantly well supported.

Our focus through these tutorials is not just to learn Python however. We are here to learn [Astro](https://cdn130.picsart.com/283094903006201.jpg?type=webp&to=min&r=640). So, each tutorial will introduce a new concept, important in scientific computing, along with an application in Astronomy and Astrophysics.

Some more great resources:
1. [The Python Wiki](https://wiki.python.org/moin/)
2. [SciPy lecture notes](http://scipy-lectures.org/)
3. [SciPy reference](https://docs.scipy.org/doc/scipy/reference/)
4. [AstroPy Documentation](https://docs.astropy.org/en/stable/)

**Another Note** (I like notes): If you feel, at any point that you don't understand something, take a moment, relax and Google! The internet is your best friend when it comes to programming, and becoming self sufficient in your coding requires you to know how to google. So, don't worry if things feel a bit new; with some practice and a bit of tinkering around (you can do that in this environment very easily!), you will soon be ready to rumble...

### By the end of this tutorial, you will have been introduced to Python, and parsed a file to find how many moons each planet has!

Our first task on Python?
Hello World!<br>
(Note the [escape character](http://python-ds.com/python-3-escape-sequences))

In [ ]:
print("The first thing we shall do is say\nHello World!")

The first thing we shall do is say
Hello World!

Print is a function (more on that later) that takes a string (that is the stuff enclosed in the double quotes) and displays it. <br>
Of course, we can go quite crazy with just this

In [ ]:
print("Hello","World\n") # Python already puts a newline after each print(...) by default (this can be changed)
print('Hello World\n')    # BTW, this is how you comment :P
print("Hello 'World'\n")
print('"Hello" World\n')
print("'Hello' \"World\" \n")
print('''Hello
World''')

Hello World

Hello World

Hello 'World'

"Hello" World

'Hello' "World"

Hello
World

With a bit of [string formatting](https://docs.python.org/3/library/string.html#format-string-syntax), you can make your print statements as customizable as you want.

In [ ]:
name = "The Astronomy Club of IIT Kanpur"
print("Hello, my name is %s"% name)
print("Hello, my name is {}".format(name))
print(f"Hello, my name is {name}") # Will only work in Python 3.6+
print("Hello, my name is", name)

Hello, my name is The Astronomy Club of IIT Kanpur
Hello, my name is The Astronomy Club of IIT Kanpur
Hello, my name is The Astronomy Club of IIT Kanpur
Hello, my name is The Astronomy Club of IIT Kanpur

And in that cell, we went ahead of ourselves a bit. What was that first line?

In [ ]:
name = "The Astronomy Club of IIT Kanpur"

We are assigning a value (which is the string above) to a variable.<br>
Of course, strings aren't all we can assign to variables. There are different data types in Python, which you can explore below:

In [ ]:
integer = 1
floating_point = 3.14
complex_number = 3 + 4j
boolean_variable = True

In [ ]:
complex_number = 3 + 4j
print(complex_number) # Try to re-write this with .format() instead
print("{}".format(type(complex_number)))

(3+4j)
<class 'complex'>

You can also use Python as a calculator!

In [ ]:
a = 3 # Explore with different values of a and b. Try using a complex number!
b = 2 # Try using a string!
#print("a+b = {}".format(a+b))
print("a+b =",a+b)
print("a-b = {}".format(a-b))
print("a*b = {}".format(a*b))
print("a/b = {}".format(a/b))
print("a//b = {}".format(a//b))
print("a//b = {}".format(a//b))
print("a**b = {}".format(a**b))

a+b = 5
a-b = 1
a*b = 6
a/b = 1.5
a//b = 1
a//b = 1
a**b = 9

We have an idea of how to store a value now, and basic ways of manipulating it. However, what if we need to store many values?

#### Tuples ()
Sequence of values (which can be of mixed types) which are immutable(can't change it), written within parantheses

In [ ]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)

To access the elements, use the indices (starting from zero)

In [ ]:
tuple1[0]

'a'

A very useful trick is index slicing, where you can access a subset of the tuple. This works as follows:

In [ ]:
tuple1[4:9] # [inclusive:exclusive]

('e', 'f', 'g', 'h', 1)

The full syntax for index slicing is \[inclusive_start:exclusive_end:step_size\], so you can get something like

In [ ]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[2:15:5]

('c', 'h', 5)

If you leave inclusive_start or exclusive_end blank, then that is saying slice from the beginning, or till the end respectively

In [ ]:
tuple1[:12:2]

('a', 'c', 'e', 'g', 1, 3)

In [ ]:
tuple1[5::3]

('f', 1, 4, 7, 10)

Count backwards using negative indices

In [ ]:
tuple1[-2]

9

Index slicing works with negative indices too!

#### Lists []
Lists are mutable. Otherwise, they have similar properties to a tuple

In [ ]:
nested_list=[[1,2,3],['a','b','c'],['astro','cosmo','gravity']] # You can also have nested tuples!

Nested lists are essentially [lists within lists](https://en.wikipedia.org/wiki/Inception). Nested lists will feature a good deal in our tutorials later, so this is important.

Nested lists (or tuples) have more than one index, which can be used as follows:

In [ ]:
nested_list=[[1,2,3],['a','b','c'],['astro','cosmo','gravity']] # You can also have nested tuples!
nested_list[2::1] # Play around with this!

[['astro', 'cosmo', 'gravity']]

With a list, you can change entries, append new ones, or delete some

In [ ]:
my_list=['astro',1,2,3,'cosmo']
my_list[1]=3.26
print(my_list)

['astro', 3.26, 2, 3, 'cosmo']

In [ ]:
my_list=['astro',1,2,3,'cosmo']
my_list.append(['gravity','relativity']) # This will be important later!
print(my_list)

['astro', 1, 2, 3, 'cosmo', ['gravity', 'relativity']]

In [ ]:
my_list=['astro',1,2,3,'cosmo']
del my_list[1:5]
print(my_list)

['astro']

In [ ]:
my_list=['astro',3,1,3,'cosmo']
my_list.remove(1)

print(my_list)

['astro', 3, 3, 'cosmo']

One more function, which works on any kind of collection data type (tuples, list, dictionaries ...) is `len`, which gives the length.

In [ ]:
print(len(my_list)) # Note that the list inside the list is counted as one element.

4

There are a lot of operations on lists. One resource you can use to find out more is [this](https://www.geeksforgeeks.org/python-list/). Again, Google is your best friend!

#### A note on Strings

We have seen strings before. They are, in a way, similar to tuples, where you can access each individual element (in this case the characters of the strings) using the indices; you can also use index slicing.

In [ ]:
my_string = "The Astronomy Club of IITK"

In [ ]:
my_string = "The Astronomy Club of IITK"
# Try to get any substring that you want using index slicing
print(my_string[4:14:2])

Atooy

There are also a few operations on strings, which we will list down below. You are not expected to memorize them. It takes time and experience in coding to be able to remember them, and even then you will still find yourself having to look up things. That is completely fine.

You can find a whole list of these in the official Python documentation (https://docs.python.org/3.6/library/string.html)

In [ ]:
my_string = "The Astronomy Club of IITK"
print(my_string.split())

['The', 'Astronomy', 'Club', 'of', 'IITK']

In [ ]:
my_string = "        The Astronomy Club of IITK"
print(my_string.split('o')) #Try putting in another character or a string and see how the output changes

['        The Astr', 'n', 'my Club ', 'f IITK']

In [ ]:
string_with_spaces = "   Why are there spaces here?   " # Let's get rid of those spaces in 2 ways

In [ ]:
string_with_spaces = "   Why are there spaces here?   "
# Split using white space:
list_of_words = string_with_spaces.split()
print(list_of_words)

['Why', 'are', 'there', 'spaces', 'here?']

In [ ]:
string_with_spaces = "   Why are there spaces here?   "
# Make a string, by joining the items of the list
string_without_spaces = ''.join(string_with_spaces) # what happens if you use '&' instead of ' '?
print(string_without_spaces)

   Why are there spaces here?

In [ ]:
string_with_spaces = "   Why are there spaces here?   "
# or, you can just use another function
string_with_spaces.strip() # What if you use something like string.split(<some_string>)? It will remove that from the beginning and ending!
string.split(string_with_spaces)

NameError: name 'string' is not defined

#### Dictionaries {}
Instead of indexing by strictly numbers from 0 to `len`-1, we can index a _value_ with any _key_ as long as the _key_ is immutable (can be a tuple).

In [ ]:
my_dictionary = {'Phobos':'Mars', 'Phobos':'Jupiter', 'Titan':'Saturn', 'Titania':'Uranus', 'Triton':'Neptune'}

In [ ]:
moon = 'Phobos'
print('The largest moon of {my_dictionary[moon]} is {moon}')

The largest moon of {my_dictionary[moon]} is {moon}



There are of course, a lot more to know about each of these. But this will be sufficient for this tutorial. With practice and experience, you will learn more and more about lists, tuples, dictionaries and sets(wait, what's that?)

### Conditionals in Python

Control flow statements like loops and conditionals have blocks indicated by indentation. Any number of whitespaces is syntactically correct as long as it is consistent within a block.

The `if...elif...if` statement can be used to run different blocks based on truth values of boolean expressions.

Wooo. Those were all certainly words. What this means is this:
1. You can choose to run certain statements based on whether some condition is satisfied or not: conditionals
2. You can run the same set of statements (perhaps with some changes) several times (this is called iteration): loops (imaginative names, I know)

Play around with these cells and see for yourself how this will work.

In [ ]:
a=77
if a<5:
    print("i am in the if block")
    print(a,"is less than 5")
elif a==5:
    print("i am in the elif block")
    print(a, "is equal to 5")
else:
    print("i am in the else block")
    print(a, "i more than 5")

i am in the else block
77 i more than 5

In [ ]:
b=8
if  7 < b < 9:
    print("b is between 7 and 9")
elif b < 7:
    print("b is smaller than 7")
else:
    print("b is greater than 9")

b is between 7 and 9

Logical operations `and`, `or`, and `not` can also be used

In [ ]:
a=True
b=False
print(a!=b)

True

In [ ]:
# Try to use a logical operation in an if..elif..else statement. Find if a given value c is less than 0,
# greater than 10, or in between the two

...

### Loops
There are two types of loops: `for` and `while`.

The usage is very straightforward, but there are nuances to both of these that we will explore in detail later.

In [ ]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [ ]:
for i in range(0,5,1): # range gives you a range of numbers! range(inclusive_start, exclusive_end, step). Seems familiar?
    print(i , end='hi\n') # Foreshadowing, you can change the default behaviour of print to add a newline.

0hi
1hi
2hi
3hi
4hi

In [ ]:
my_iter=5
while my_iter > 0:
    print(my_iter**2, end=' ')
    my_iter-=1

25 16 9 4 1

#### This Exercise uses Pandas as a Key Component. Check it here before proceeding : https://www.w3schools.com/python/pandas/default.asp

### Parsing a file for data
This is perhaps one of the more important parts in this tutorial, which will enable you to start working with actual data. In the file `Moons_and_planets.csv`, we can find the names of the moons of each planet as well as the planet they orbit (yes, we know we included Pluto. Cut it some slack!)

The data has been taken from https://en.wikipedia.org/wiki/List_of_natural_satellites. This employs something called web scraping, which we will have a look at later.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

You are encouraged to play around with this set of code. Try removing some of the functions and seeing why they have been used (remove the `split('\n')` in the next cell and see why it is necessary)

In [ ]:
import pandas as pd
with open('Moons_and_Planets.csv', 'r') as f:
    lines = f.read().split('\n') # split each line
    print(lines[:5])
    data_moons = [] # Define an empty list. We will append our values to this
for line in lines:
    data_moons.append(line.split(',')) # split each element
    data_moons[:5]

FileNotFoundError: [Errno 2] No such file or directory: 'Moons_and_Planets.csv'

In [ ]:
print(lines[:5])

NameError: name 'lines' is not defined

In [ ]:
data_moons = [] # Define an empty list. We will append our values to this
for line in lines:
    data_moons.append(line.split(',')) # split each element

NameError: name 'lines' is not defined

In [ ]:
data_moons[:5]

NameError: name 'data_moons' is not defined

As you can see, this is not perfect; the diameter of the moons has been appended as a `string`, instead of a `float`. <br>
Fixing this is up to you! (*hint*: you can convert a string to a float using `float(<string>)`)

You will have to use a loop to access each row (nested loops here), and use indexing to access the elements you want.

### Your assignment...
...should you choose to accept it, will be the following:
1. Find the number of moons of each planet
2. Order the moons (along with their planets) according to their sizes

Try to verify these from the Wikipedia link that we took the data from.